---
import Layout from '../../layouts/Layout.astro'
import Jumbotron from '../../components/Jumbotron.astro'
import GameInfo from '../../components/GameInfo.astro'
import Support from '../../components/Support.astro'
import games from '../../data/hry.json'
const currGame = games.find(game => game.codeName === 'truel')
---
<Layout class="game"
    ogTitle="Truel"
    ogUrl="https://www.jerrylabs.cz/hry/truel"
    ogImage="https://www.jerrylabs.cz/images/truel.jpg"
    ogType="website"
    ogDescription="Abstraktn칤 logick치 karetn칤 hra pro t콏i hr치캜e ke sta쬰n칤 a tisku. Sestavujte trojice karet a z칤skejte drahokamy v코ech t콏칤 barev pro v칤t캩zstv칤."
  >
  <Jumbotron title={currGame.title} className="zoomy" image="games/truel/board" />
  <div class="container game__panel">
    <div class="game__download">
      <p class="big">
        Hra je voln캩 코i콏iteln치 na z치klad캩 <a href="/licence/">licence Creative Commons</a>.
        ZIP archiv (23 MB) obsahuje pravidla a PDF s kartami a 쬰tonky. Hru si zde m콢쬰te st치hnout a vytisknout nebo nechat u n치s vyrobit.
      </p>
      <div class="game__download-wrap">
        <a href="/games/truel.zip" class="button button--download">St치hnout</a>
        <a href="https://www.firmy.cz/sluzby/nabidka/vyroba-deskove-hry-12865086-174" class="button button--order">Vyrobit</a>
      </div>
      <Support />
    </div>
    <GameInfo game={currGame} />
  </div>
  <section>
    <div class="container">
      <h2>V칤ce o h콏e</h2>
      <p>
        Koncept hry vznikl t칠m캩콏 p콏ed 20 lety a letos byl dota쬰n, dolad캩n a otestov치n. Ka쬯칳 hr치캜 hraje za figurku jedn칠 barvy, kter치 se sna쮂 ob칤h치n칤m okruhl na hern칤m pl치nu z칤skat drahokamy.
      </p>
      <p>
        Ve h콏e nejsou 쮂멳n칠 kostky, ve코ker칠 zm캩ny ve h콏e se odehr치vaj칤 pomoc칤 sestavov치n칤 trojic karet. Ka쬯칳 hr치캜 ve sv칠m tahu vylo쮂 jednu kartu a jakmile je zkompletov치na cel치 trojice, vyhodnot칤 se jej칤 efekt na hru.
      </p>
      <p>
        Pohyb figurek, p콏ib칤r치n칤 karet nav칤c nebo i zisk 캜i ztr치ta drahokam콢 tak z치le쮂 na tom, jak hr치캜i spole캜n캩 trojici sestav칤.
      </p>
      <h2>Pod캩kov치n칤</h2>
      <p>
        D캩kujeme zejm칠na Jolance a Andy C. za fin치ln칤 testov치n칤 a odlad캩n칤 kone캜n칠 podoby hry 游똂仇벒잺
      </p>
    </div>
  </section>
</Layout>